body {
    background-color: #174141;
    height: 1080px;
    width: 1920px;
}
.log {
 background-image: url("/src/assets/landingbg.png");
}
.logButton {
    background-color: #174141;
    border: none;
}