.articleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: seashell;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  width: 300px;
  height: 400px;
  border-bottom: 3px inset #e1f4ea;
}

.articleImg {
  width: 200px;
}

.articleTitle {
  color: seashell;
}