.articles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: seashell;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  border-bottom: 3px inset #e1f4ea;
}

.searchTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: seashell;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  border-top: 3px inset #e1f4ea;
  width: 100%;
}