li {
  font-family: 'RocknRoll One', sans-serif;
  list-style-type: none;
}

.ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.title {
  display: flex;
  color: seashell;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  align-items: left;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: 3px inset #e1f4ea;
}