.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input {
    background-color: green;
    color: seashell;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
}